<!-- views/pages/index.djs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/mainNavbar %>
</header>

<!-- This is the second menu bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/nba">Home</a></li>
        <li><a href="/players">Players</a></li>
        <li class="active"><a href="#">Games</a></li>
        <li><a =href"/injuries">Injuries</a></li>
        <li><a =href"/teams">Teams</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Teams/Players">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- saved from url=(0057)://www.nba.com/schedules/national_tv_schedule/canada/ -->
<html><head><meta -equiv="Content-Type" content="text/html; charset=windows-1252">
   <script> var site = "nba"; var page = ""; </script>
   <!--script type="text/javascript" src="/.element/js/global/1.0/adspaces.js"></script -->

   <title>NBA.com 2017-18 Canadian Broadcast Schedule</title>
   <link rel="stylesheet" ="./NBA.com 2017-18 Canadian Broadcast Schedule_files/nbaSchedulesLegacy.css" type="text/css">
   <style>.articleBody,.relatedLinks,.articleTeaser,.articleSubHead{width:600px;}</style>

   <style>
   #nbaChrome {
   top:0 !important;
   }




   <style type="text/css">
   .nbaCenter {margin-bottom:10px;}
   #nbaHeaderAds {float:none;}
   #nbaMainSection {margin:0 auto; float:none; width:938px;}
   #nbaMainSection #nbaContent {margin-bottom:5px;}
   #nbaFooter li {font-size:12px;}
   #nbaFooter .nbaLegal p {font-size:10px;}
   .nbaClear {font-size:12px; height:auto;}
   #nbaGlobalNav {font-weight:bold;}
   #nbaHeader #nbaGlobalNav > ul > li > a {font-size:12px;font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial,
   'Liberation Sans', sans-serif;}
   #nbaChromeLogin {padding:0;}
   #nbaChromeLogin a {padding:0;}
   </style>



   <!-- Make MainSection include -->

<!-- xxxxx -->

<!-- /xxxxx -->







   </div>
</div>


   </div>
   <div style="clear:both;"></div>
   </div>

   <div id="nbaMainSection" align="center">
   <table cellpadding="0" border="0" cellspacing="0" class="articleTable">
   <tbody><tr>
   <td valign="top">

   <div id="scheduleContainer">
   <div id="scheduleMisc">


      </ul>
   </div>
   <br>
   <div class="adCell">
	<div id="ad_sky_btf_01" class="nba-ad"></div>

</div>


   </div>
   <div id="scheduleMain" style="margin:0 5px 0 0!important;">
   <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tbody><tr>


   </td>
   </tr>
   <tr>
   <td class="standardTextBlack" align="center" width="100%">
   <br><br>

   <br><br>
   <!-- place your description here -->
   <div style="font-size:12;font-family:arial"></div>


   <td align="left" width="5" valign="top"><img src="./NBA.com 2017-18 Canadian Broadcast Schedule_files/spacer.gif" width="5" height="5"></td>
   </tr>
   </tbody></table>

   <table border="0" cellpadding="0" cellspacing="0" class="genSchedTable tvstations">
      <tbody><tr class="header">
         <td colspan="4">CANADIAN TV SCHEDULE - 2017-18</td>
      </tr>
      <tr class="title">
         <td class="date">Date</td>
         <td class="game">Teams</td>
         <td class="time">Time (ET)</td>
         <td class="natTV">Broadcaster</td>
      </tr>
      <tr>
         <td class="dt">Sat, Apr 21</td>
         <td class="gm"><a ="://www.nba.com/sixers">Philadelphia</a> @ <a ="://www.nba.com/heat">Miami</a><br>First Round
         </td>
         <td class="tm">2:30 pm</td>
         <td class="ntv">TSN5</td>
      </tr>
      <tr class="odd">
         <td class="dt"> </td>
         <td class="gm"><a ="://www.nba.com/blazers">Portland</a> @ <a ="://www.nba.com/pelicans">New Orleans</a><br>First Round
         </td>
         <td class="tm">5:00 pm</td>
         <td class="ntv">TSN5</td>
      </tr>
      <tr>
         <td class="dt"> </td>
         <td class="gm"><a ="://www.nba.com/rockets">Houston</a> @ <a ="://www.nba.com/timberwolves">Minnesota</a><br>First Round
         </td>
         <td class="tm">7:30 pm</td>
         <td class="ntv">TSN5</td>
      </tr>
      <tr class="odd">
         <td class="dt"> </td>
         <td class="gm"><a ="://www.nba.com/thunder">Oklahoma City</a> @ <a ="://www.nba.com/jazz">Utah</a><br>First Round
         </td>
         <td class="tm">10:00 pm</td>
         <td class="ntv">TSN5</td>
      </tr>
      <tr>
         <td class="dt">Sun, Apr 22</td>
         <td class="gm"><a ="://www.nba.com/celtics">Boston</a> @ <a ="://www.nba.com/bucks">Milwaukee</a><br>First Round
         </td>
         <td class="tm">1:00 pm</td>
         <td class="ntv">TSN1/3</td>
      </tr>
      <tr class="odd">
         <td class="dt"> </td>
         <td class="gm"><a ="://www.nba.com/warriors">Golden State</a> @ <a ="://www.nba.com/spurs">San Antonio</a><br>First Round
         </td>
         <td class="tm">3:30 pm</td>
         <td class="ntv">TSNN</td>
      </tr>
      <tr>
         <td class="dt"> </td>
         <td class="gm"><a ="://www.nba.com/raptors">Toronto</a> @ <a ="://www.nba.com/wizards">Washington</a><br>First Round
         </td>
         <td class="tm">6:00 pm</td>
         <td class="ntv">Sportsnet One</td>
      </tr>
      <tr class="odd">
         <td class="dt"> </td>
         <td class="gm"><a ="://www.nba.com/cavaliers">Cleveland</a> @ <a ="://www.nba.com/pacers">Indiana</a><br>First Round
         </td>
         <td class="tm">8:30 pm</td>
         <td class="ntv">TSN1/4/5</td>
      </tr>
      <tr>
         <td class="dt">Mon, Apr 23</td>
         <td class="gm"><a ="://www.nba.com/rockets">Houston</a> @ <a ="://www.nba.com/timberwolves">Minnesota</a><br>First Round
         </td>
         <td class="tm">8:00 pm</td>
         <td class="ntv">TSNN</td>
      </tr>
      <tr class="odd">
         <td class="dt"> </td>
         <td class="gm"><a ="://www.nba.com/thunder">Oklahoma City</a> @ <a ="://www.nba.com/jazz">Utah</a><br>First Round
         </td>
         <td class="tm">10:30 pm</td>
         <td class="ntv">TSN1/3</td>
      </tr>
   </tbody></table>
   </div>
   </div>

   	                                </td>
   	                                </tr>
   	                        </tbody></table>
   	                        </div>
   	                <!-- end main section -->
   	                <div class="nbaClear"></div>




   	                 </xsl:text></body></html>
