<!-- views/pages/index.djs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/mainNavbar %>
</header>

<main>
  <iframe src="https://www.basketball-reference.com/boxscores/" width="900" height="780" scrolling="no" style="border:none;" style="position: relative; left: -100px; top: -100px">
  <p>Your browser is not supported.</p>
  </iframe>
</main>
