<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/mainNavbar %>
</header>

<!-- This is the second menu bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/nba">Home</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/games">Games</a></li>
        <li class="active"><a href="#">Injuries</a></li>
        <li><a href="/teams">Teams</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Teams/Players">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- document.write('<div class="sr_widget" style="overflow-x:auto">');
document.write('<div class="sr_widget_content">');
document.write('<style type="text/css">\ -->
<!-- .sr_widget table {\
  border-collapse: collapse;\
  font-size: 1em;\
}\
.sr_widget table td {\
  padding-right: 1em;\
}\
/* The basic stats table. */\
.sr_widget .stats_table {\
  border-collapse: collapse;\
  border: #747678 solid 1px;\
  font-size: .875em;\
  margin-bottom: 1em;\
  /* assorted other things */\
\
  /* For tables inside a stats_table */\
\
}\
.sr_widget .stats_table th, .sr_widget  .stats_table td {\
  border-width: 1px;\
  border-color: #aaaaaa;\
  padding: 3px;\
  vertical-align: inherit;\
}\
.sr_widget .stats_table th *, .sr_widget  .stats_table td * {\
  vertical-align: inherit;\
}\
.sr_widget .stats_table th {\
  background-color: #dadcde;\
  border-style: solid;\
  color:black!important;\
  opacity: initial;\
}\
.sr_widget .stats_table td {\
  border-style: dotted;\
  white-space: nowrap!important;\
}\
.sr_widget .stats_table td.wrap {\
  white-space: normal;\
}\
.sr_widget .stats_table td.double_border {\
  border-left: 4px solid #747678;\
}\
.sr_widget .stats_table tr:last-child > td, .sr_widget  .stats_table th {\
  border-bottom: #747678 solid 1px;\
}\
.sr_widget .stats_table tr:first-child > td, .sr_widget  .stats_table th {\
  border-top: #747678 solid 1px;\
}\
.sr_widget .stats_table tr {\
  vertical-align: top;\
}\
.sr_widget .stats_table tr td:first-child, .sr_widget  .stats_table tr th:first-child {\
  border-left: #747678 solid 1px;\
}\
.sr_widget .stats_table tr td:last-child, .sr_widget  .stats_table tr th:last-child {\
  border-right: #747678 solid 1px;\
}\
.sr_widget .stats_table tr.vmiddle {\
  vertical-align: baseline;\
}\
.sr_widget .stats_table .normal_text {\
  font-size: 1em!important;\
  /* 12 px */\
}\
.sr_widget .stats_table .normal_text th, .sr_widget  .stats_table .normal_text td {\
  padding: 4px!important;\
}\
.sr_widget .stats_table table td {\
  border: 0!important;\
  padding: 2px!important;\
}\
.sr_widget .stats_table form {\
  margin: 0;\
  padding: 0;\
}\
.sr_widget .stats_table select, .sr_widget  .stats_table input {\
  font-size: .8175em!important;\
}\
.sr_widget .sortable .sort_col {\
  background-color: #ffffaa;\
  border: solid 2px #747678;\
}\
.sr_widget .blank_table, .sr_widget .spacer {\
  background-color: #dadcde;\
  height: 0;\
  padding: 0;\
}\
.sr_widget .partial_table, .sr_widget  .partial_table a {\
  color: #414345;\
  text-decoration: none;\
}\
.sr_widget .stat_average, .sr_widget  .stat_total {\
  background-color: #dadcde;\
  font-weight: 700;\
}\
.sr_widget .left { text-align: left; float:none!important;}\
.sr_widget .right { text-align: right; float:none!important; }\
.sr_widget .center { text-align: center; float:none!important; }\ -->
</style>
<table class="sortable stats_table" data-cols-to-freeze="1" id="injuries"><caption>36 Injuries Table</caption><colgroup><col /><col /><col /><col /><col /></colgroup><thead><tr><th aria-label="Player" class=" poptip sort_default_asc left" data-stat="player" scope="col">Player</th><th aria-label="Team" class=" poptip sort_default_asc left" data-stat="team_name" scope="col">Team</th><th aria-label="Date" class=" poptip sort_default_asc left" data-stat="date_injury" scope="col">Date</th><th aria-label="Type" class=" poptip sort_default_asc left" data-stat="injury_type" scope="col">Type</th><th aria-label="Note" class=" poptip sort_default_asc left" data-stat="injury_note" scope="col">Note</th></tr></thead><tbody><tr><th class="left " csk="Hayward,Gordon" data-append-csv="haywago01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/h/haywago01.html">Gordon Hayward</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/BOS/2018.html">Boston Celtics</a></td><td class="left " csk="2017-10-17" data-stat="date_injury">Tue, Oct 17, 2017</td><td class="left " data-stat="injury_type">Ankle</td><td class="left " data-stat="injury_note">Hayward is expected to miss the remainder of the season after having surgery to repair a dislocated left ankle and fractured tibia.</td></tr><tr><th class="left " csk="Irving,Kyrie" data-append-csv="irvinky01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/i/irvinky01.html">Kyrie Irving</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/BOS/2018.html">Boston Celtics</a></td><td class="left " csk="2018-03-11" data-stat="date_injury">Sun, Mar 11, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Irving had a procedure performed to alleviate soreness in his left knee and is expected to miss the remainder of the 2017-18 season.</td></tr><tr><th class="left " csk="Rozier,Terry" data-append-csv="roziete01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/r/roziete01.html">Terry Rozier</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/BOS/2018.html">Boston Celtics</a></td><td class="left " csk="2018-04-12" data-stat="date_injury">Thu, Apr 12, 2018</td><td class="left " data-stat="injury_type">Finger</td><td class="left " data-stat="injury_note">Rozier is dealing with a finger injury but is expected to be available for Game 1 of the Eastern Conference first round against the Bucks.</td></tr><tr><th class="left " csk="Smart,Marcus" data-append-csv="smartma01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/s/smartma01.html">Marcus Smart</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/BOS/2018.html">Boston Celtics</a></td><td class="left " csk="2018-03-12" data-stat="date_injury">Mon, Mar 12, 2018</td><td class="left " data-stat="injury_type">Thumb</td><td class="left " data-stat="injury_note">Smart is recovering from surgery to repair a torn tendon in his right thumb but is likely to return to action by April 27.</td></tr><tr><th class="left " csk="Hood,Rodney" data-append-csv="hoodro01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/h/hoodro01.html">Rodney Hood</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/CLE/2018.html">Cleveland Cavaliers</a></td><td class="left " csk="2018-04-07" data-stat="date_injury">Sat, Apr 7, 2018</td><td class="left " data-stat="injury_type">Achilles</td><td class="left " data-stat="injury_note">Hood is recovering from an Achilles injury but is expected to suit up for Game 1 of the Eastern Conference first round against the Pacers.</td></tr><tr><th class="left " csk="Korver,Kyle" data-append-csv="korveky01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/k/korveky01.html">Kyle Korver</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/CLE/2018.html">Cleveland Cavaliers</a></td><td class="left " csk="2018-04-12" data-stat="date_injury">Thu, Apr 12, 2018</td><td class="left " data-stat="injury_type">Foot</td><td class="left " data-stat="injury_note">Korver is nursing a lingering foot injury and his status against the Pacers in Game 1 of the Eastern Conference first round is unknown.</td></tr><tr><th class="left " csk="Thompson,Tristan" data-append-csv="thomptr01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/t/thomptr01.html">Tristan Thompson</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/CLE/2018.html">Cleveland Cavaliers</a></td><td class="left " csk="2018-04-13" data-stat="date_injury">Fri, Apr 13, 2018</td><td class="left " data-stat="injury_type">Personal</td><td class="left " data-stat="injury_note">Thompson is away from the team due to the birth of his child but is expected to play against the Pacers in Game 1 of the Eastern Conference first round.</td></tr><tr><th class="left " csk="Curry,Stephen" data-append-csv="curryst01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/c/curryst01.html">Stephen Curry</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/GSW/2018.html">Golden State Warriors</a></td><td class="left " csk="2018-03-24" data-stat="date_injury">Sat, Mar 24, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Curry suffered a sprained MCL in his left knee and is expected to be sidelined for the entire Western Conference first round series against the Spurs.</td></tr><tr><th class="left " csk="Iguodala,Andre" data-append-csv="iguodan01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/i/iguodan01.html">Andre Iguodala</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/GSW/2018.html">Golden State Warriors</a></td><td class="left " csk="2018-04-08" data-stat="date_injury">Sun, Apr 8, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Iguodala is dealing with left knee soreness but is expected to be available for Game 1 of the Western Conference first round against the Spurs.</td></tr><tr><th class="left " csk="McCaw,Patrick" data-append-csv="mccawpa01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/m/mccawpa01.html">Patrick McCaw</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/GSW/2018.html">Golden State Warriors</a></td><td class="left " csk="2018-04-01" data-stat="date_injury">Sun, Apr 1, 2018</td><td class="left " data-stat="injury_type">Back</td><td class="left " data-stat="injury_note">McCaw is sidelined with a lumbosacral bone bruise and is expected to be out of action for at least four weeks.</td></tr><tr><th class="left " csk="Anderson,Ryan" data-append-csv="anderry01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/a/anderry01.html">Ryan Anderson</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/HOU/2018.html">Houston Rockets</a></td><td class="left " csk="2018-04-03" data-stat="date_injury">Tue, Apr 3, 2018</td><td class="left " data-stat="injury_type">Ankle</td><td class="left " data-stat="injury_note">Anderson is recovering from a left ankle sprain and his status for Game 1 of the Western Conference first round against the Timberwolves is in question.</td></tr><tr><th class="left " csk="Capela,Clint" data-append-csv="capelca01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/c/capelca01.html">Clint Capela</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/HOU/2018.html">Houston Rockets</a></td><td class="left " csk="2018-04-11" data-stat="date_injury">Wed, Apr 11, 2018</td><td class="left " data-stat="injury_type">Hand</td><td class="left " data-stat="injury_note">Capela is battling a hand injury and it is unknown if he will be available for Game 1 of the Western Conference first round against the Timberwolves.</td></tr><tr><th class="left " csk="Gordon,Eric" data-append-csv="gordoer01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/g/gordoer01.html">Eric Gordon</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/HOU/2018.html">Houston Rockets</a></td><td class="left " csk="2018-04-11" data-stat="date_injury">Wed, Apr 11, 2018</td><td class="left " data-stat="injury_type">Ankle</td><td class="left " data-stat="injury_note">Gordon has soreness in his left ankle and it is unclear if he will suit up against the Timberwolves in Game 1 of the Western Conference first round.</td></tr><tr><th class="left " csk="Mbah a Moute,Luc" data-append-csv="mbahalu01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/m/mbahalu01.html">Luc Mbah a Moute</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/HOU/2018.html">Houston Rockets</a></td><td class="left " csk="2018-04-11" data-stat="date_injury">Wed, Apr 11, 2018</td><td class="left " data-stat="injury_type">Shoulder</td><td class="left " data-stat="injury_note">Mbah a Moute sustained a dislocated right shoulder and is expected to miss up to four weeks of action.</td></tr><tr><th class="left " csk="Oladipo,Victor" data-append-csv="oladivi01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/o/oladivi01.html">Victor Oladipo</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/IND/2018.html">Indiana Pacers</a></td><td class="left " csk="2018-04-10" data-stat="date_injury">Tue, Apr 10, 2018</td><td class="left " data-stat="injury_type">Foot</td><td class="left " data-stat="injury_note">Oladipo is battling soreness in his right foot but is expected to be available for Game 1 of the Eastern Conference first round against the Cavaliers.</td></tr><tr><th class="left " csk="Dragic,Goran" data-append-csv="dragigo01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/d/dragigo01.html">Goran Dragic</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/MIA/2018.html">Miami Heat</a></td><td class="left " csk="2018-04-11" data-stat="date_injury">Wed, Apr 11, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Dragic is experiencing soreness in his knee but is expected to suit up for Game 1 of the Eastern Conference first round against the 76ers.</td></tr><tr><th class="left " csk="Waiters,Dion" data-append-csv="waitedi01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/w/waitedi01.html">Dion Waiters</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/MIA/2018.html">Miami Heat</a></td><td class="left " csk="2017-12-22" data-stat="date_injury">Fri, Dec 22, 2017</td><td class="left " data-stat="injury_type">Ankle</td><td class="left " data-stat="injury_note">Waiters had season-ending surgery to repair instability in his left ankle and a pre-existing navicular bone fracture.</td></tr><tr><th class="left " csk="Whiteside,Hassan" data-append-csv="whiteha01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/w/whiteha01.html">Hassan Whiteside</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/MIA/2018.html">Miami Heat</a></td><td class="left " csk="2018-04-11" data-stat="date_injury">Wed, Apr 11, 2018</td><td class="left " data-stat="injury_type">Undisclosed</td><td class="left " data-stat="injury_note">Whiteside is nursing an unspecified injury and his status against the 76ers for Game 1 of the Eastern Conference first round is up in the air.</td></tr><tr><th class="left " csk="Ajinca,Alexis" data-append-csv="ajincal01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/a/ajincal01.html">Alexis Ajinca</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/NOP/2018.html">New Orleans Pelicans</a></td><td class="left " csk="2017-10-17" data-stat="date_injury">Tue, Oct 17, 2017</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Ajinca had surgery on his left patellar tendon and is likely to miss the remainder of the season.</td></tr><tr><th class="left " csk="Cousins,DeMarcus" data-append-csv="couside01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/c/couside01.html">DeMarcus Cousins</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/NOP/2018.html">New Orleans Pelicans</a></td><td class="left " csk="2018-01-27" data-stat="date_injury">Sat, Jan 27, 2018</td><td class="left " data-stat="injury_type">Achilles</td><td class="left " data-stat="injury_note">Cousins had surgery to fix a ruptured left Achilles tendon and is expected to miss the remainder of the season.</td></tr><tr><th class="left " csk="Abrines,Alex" data-append-csv="abrinal01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/a/abrinal01.html">Alex Abrines</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/OKC/2018.html">Oklahoma City Thunder</a></td><td class="left " csk="2018-04-09" data-stat="date_injury">Mon, Apr 9, 2018</td><td class="left " data-stat="injury_type">Concussion</td><td class="left " data-stat="injury_note">Abrines is recovering from a concussion and it is unclear if he will be cleared in time for Game 1 the Western Conference first round against the Jazz.</td></tr><tr><th class="left " csk="Brewer,Corey" data-append-csv="breweco01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/b/breweco01.html">Corey Brewer</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/OKC/2018.html">Oklahoma City Thunder</a></td><td class="left " csk="2018-04-11" data-stat="date_injury">Wed, Apr 11, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Brewer is expected to suit up for Game 1 of the Western Conference first round against the Jazz despite a right knee sprain.</td></tr><tr><th class="left " csk="Roberson,Andre" data-append-csv="roberan03" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/r/roberan03.html">Andre Roberson</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/OKC/2018.html">Oklahoma City Thunder</a></td><td class="left " csk="2018-01-27" data-stat="date_injury">Sat, Jan 27, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Roberson ruptured his left patellar tendon and will require surgery to repair the injury. He is expected to miss the remainder of the season.</td></tr><tr><th class="left " csk="Embiid,Joel" data-append-csv="embiijo01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/e/embiijo01.html">Joel Embiid</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/PHI/2018.html">Philadelphia 76ers</a></td><td class="left " csk="2018-03-28" data-stat="date_injury">Wed, Mar 28, 2018</td><td class="left " data-stat="injury_type">Face</td><td class="left " data-stat="injury_note">Embiid had surgery to repair a fractured orbital bone around his left eye and is not expected to return for Game 1 of the Eastern Conference first round against the Heat.</td></tr><tr><th class="left " csk="Luwawu-Cabarrot,Timothe" data-append-csv="luwawti01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/l/luwawti01.html">Timothe Luwawu-Cabarrot</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/PHI/2018.html">Philadelphia 76ers</a></td><td class="left " csk="2018-03-13" data-stat="date_injury">Tue, Mar 13, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Luwawu-Cabarrot is sidelined with tendinitis in his right knee and there is no timetable for return.</td></tr><tr><th class="left " csk="Redick,J.J." data-append-csv="redicjj01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/r/redicjj01.html">J.J. Redick</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/PHI/2018.html">Philadelphia 76ers</a></td><td class="left " csk="2018-04-11" data-stat="date_injury">Wed, Apr 11, 2018</td><td class="left " data-stat="injury_type">Back</td><td class="left " data-stat="injury_note">Redick is dealing with lower-back tightness and it is undetermined if he will play against the Heat in Game 1 of the Eastern Conference first round.</td></tr><tr><th class="left " csk="Harkless,Maurice" data-append-csv="harklma01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/h/harklma01.html">Maurice Harkless</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/POR/2018.html">Portland Trail Blazers</a></td><td class="left " csk="2018-03-27" data-stat="date_injury">Tue, Mar 27, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Harkless will have arthroscopic left knee surgery and it is undetermined if he will draw back into the lineup by the end of April.</td></tr><tr><th class="left " csk="Wilcox,CJ" data-append-csv="wilcocj01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/w/wilcocj01.html">CJ Wilcox</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/POR/2018.html">Portland Trail Blazers</a></td><td class="left " csk="2017-10-24" data-stat="date_injury">Tue, Oct 24, 2017</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Wilcox had right knee surgery and is rehabbing with the team&#39;s NBA G League affiliate. It is unknown when he will rejoin the lineup.</td></tr><tr><th class="left " csk="Leonard,Kawhi" data-append-csv="leonaka01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/l/leonaka01.html">Kawhi Leonard</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/SAS/2018.html">San Antonio Spurs</a></td><td class="left " csk="2018-01-15" data-stat="date_injury">Mon, Jan 15, 2018</td><td class="left " data-stat="injury_type">Quadricep</td><td class="left " data-stat="injury_note">Leonard has been held out of action while recovering from tendinopathy in his right quadriceps and it is undetermined when he will return to the lineup.</td></tr><tr><th class="left " csk="Ibaka,Serge" data-append-csv="ibakase01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/i/ibakase01.html">Serge Ibaka</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/TOR/2018.html">Toronto Raptors</a></td><td class="left " csk="2018-04-12" data-stat="date_injury">Thu, Apr 12, 2018</td><td class="left " data-stat="injury_type">Mouth</td><td class="left " data-stat="injury_note">Ibaka is expected to play against the Wizards in Game 1 of the Eastern Conference first round despite taking a hit to his mouth in a previous game.</td></tr><tr><th class="left " csk="Nogueira,Lucas" data-append-csv="noguelu01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/n/noguelu01.html">Lucas Nogueira</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/TOR/2018.html">Toronto Raptors</a></td><td class="left " csk="2018-04-08" data-stat="date_injury">Sun, Apr 8, 2018</td><td class="left " data-stat="injury_type">Hamstring</td><td class="left " data-stat="injury_note">Nogueira is dealing with left hamstring tightness and it is uncertain if he will play against the Wizards in Game 1 of the Eastern Conference first round.</td></tr><tr><th class="left " csk="Siakam,Pascal" data-append-csv="siakapa01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/s/siakapa01.html">Pascal Siakam</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/TOR/2018.html">Toronto Raptors</a></td><td class="left " csk="2018-04-12" data-stat="date_injury">Thu, Apr 12, 2018</td><td class="left " data-stat="injury_type">Shoulder</td><td class="left " data-stat="injury_note">Siakam is nursing a shoulder injury his status for Game 1 of the Eastern Conference first round against the Wizards has yet to be established.</td></tr><tr><th class="left " csk="VanVleet,Fred" data-append-csv="vanvlfr01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/v/vanvlfr01.html">Fred VanVleet</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/TOR/2018.html">Toronto Raptors</a></td><td class="left " csk="2018-04-12" data-stat="date_injury">Thu, Apr 12, 2018</td><td class="left " data-stat="injury_type">Shoulder</td><td class="left " data-stat="injury_note">VanVleet has a right shoulder contusion and his availability for Game 1 of the Eastern Conference first round against the Wizards is clouded.</td></tr><tr><th class="left " csk="Sefolosha,Thabo" data-append-csv="sefolth01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/s/sefolth01.html">Thabo Sefolosha</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/UTA/2018.html">Utah Jazz</a></td><td class="left " csk="2018-01-12" data-stat="date_injury">Fri, Jan 12, 2018</td><td class="left " data-stat="injury_type">Knee</td><td class="left " data-stat="injury_note">Sefolosha had season-ending surgery to repair an MCL injury to his right knee and has been suspended for five games at the beginning of the 2018-2019 season for a violation of the NBA&#39;s anti-drug program.</td></tr><tr><th class="left " csk="Porter,Otto" data-append-csv="porteot01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/p/porteot01.html">Otto Porter</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/WAS/2018.html">Washington Wizards</a></td><td class="left " csk="2018-04-10" data-stat="date_injury">Tue, Apr 10, 2018</td><td class="left " data-stat="injury_type">Calf</td><td class="left " data-stat="injury_note">Porter Jr. is nursing a calf strain and it is unknown if he will suit up against the Raptors in Game 1 of the Eastern Conference first round.</td></tr><tr><th class="left " csk="Scott,Mike" data-append-csv="scottmi01" data-stat="player" scope="row"><a ="://www.basketball-reference.com/players/s/scottmi01.html">Mike Scott</a></th><td class="left " data-stat="team_name"><a ="://www.basketball-reference.com/teams/WAS/2018.html">Washington Wizards</a></td><td class="left " csk="2018-04-12" data-stat="date_injury">Thu, Apr 12, 2018</td><td class="left " data-stat="injury_type">Concussion</td><td class="left " data-stat="injury_note">Scott has been diagnosed with a concussion and his availability for Game 1 of the Eastern Conference first round against the Raptors is clouded.</td></tr></tbody></table>
<!-- document.write('</div>');
document.write('<div class="sr_widget_footer">');
document.write('<p>Data courtesy <a ="://www.basketball-reference.com">Basketball-Reference.com</a>.');
document.write('</div>');
document.write('</div>'); -->
