<!-- views/pages/index.djs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/mainNavbar %>
</header>

<div class="w3-container w3-yellow w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Minsoo's Secret Page</h1>
  <p class="w3-xlarge">엄마 아빠 사랑해요</p>
  <p class="w3-xlarge">누나 화이팅!</p>





</body>
</html>
