<!-- views/pages/index.djs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/mainNavbar %>
</header>

<!-- This is the second menu bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/injuries">Injuries</a></li>
        <li><a href="/teams">Teams</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Teams/Players">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
    </div>
  </div>
</nav>

<main>
  <div class="container-fluid main">
  <div class="row">
    <div class="col-xs-12"><img src="/images/NbA.jpg" class="headingImage"></div>

  </div>
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class=""></i>
      </div>

      <div class="w3-center">
        <h1>Basketball Scoreboard</h1>




            </style>

            <div id="all_" class="table_wrapper floated">

            <div class="section_heading">
              <span class="section_anchor" id="_link" data-label=""></span>
                <h2></h2>    <div class="section_heading_text">
                  <ul>
                  </ul>
                </div>
            </div>   <div class="table_outer_container">
                  <div class="overthrow table_container" id="div_">

        <table align="right">

          <class="suppress_all sortable stats_table" id="" data-cols-to-freeze=0><caption> Western Conference</caption>
           <colgroup><col><col><col><col><col></colgroup>
           <thead>
                  <tr>
                     <th aria-label="Team" data-stat="team_name" scope="col" class=" poptip sort_default_asc left" >Team</th>
                     <th aria-label="Wins" data-stat="wins" scope="col" class=" poptip right" data-tip="Wins" >W</th>
                     <th aria-label="Losses" data-stat="losses" scope="col" class=" poptip right" data-tip="Losses" >L</th>
                     <th aria-label="Win-Loss Percentage" data-stat="win_loss_pct" scope="col" class=" poptip right" data-tip="Win-Loss Percentage" >W/L%</th>
                     <th aria-label="Games Behind" data-stat="gb" scope="col" class=" poptip sort_default_asc right" data-tip="Games Behind" >GB</th>
                  </tr>

               </thead>

             <tbody>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Houston Rockets</a></th><td class="right " data-stat="wins" >65</td><td class="right " data-stat="losses" >17</td><td class="right " data-stat="win_loss_pct" >.793</td><td class="right " data-stat="gb" >0.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Golden State Warriors</a></th><td class="right " data-stat="wins" >58</td><td class="right " data-stat="losses" >24</td><td class="right " data-stat="win_loss_pct" >.707</td><td class="right " data-stat="gb" >7.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Portland Trail Blazers</a></th><td class="right " data-stat="wins" >49</td><td class="right " data-stat="losses" >33</td><td class="right " data-stat="win_loss_pct" >.598</td><td class="right " data-stat="gb" >16.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Oklahoma City Thunder</a></th><td class="right " data-stat="wins" >48</td><td class="right " data-stat="losses" >34</td><td class="right " data-stat="win_loss_pct" >.585</td><td class="right " data-stat="gb" >17.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Utah Jazz</a></th><td class="right " data-stat="wins" >48</td><td class="right " data-stat="losses" >34</td><td class="right " data-stat="win_loss_pct" >.585</td><td class="right " data-stat="gb" >17.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">New Orleans Pelicans</a></th><td class="right " data-stat="wins" >48</td><td class="right " data-stat="losses" >34</td><td class="right " data-stat="win_loss_pct" >.585</td><td class="right " data-stat="gb" >17.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">San Antonio Spurs</a></th><td class="right " data-stat="wins" >47</td><td class="right " data-stat="losses" >35</td><td class="right " data-stat="win_loss_pct" >.573</td><td class="right " data-stat="gb" >18.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Minnesota Timberwolves</a></th><td class="right " data-stat="wins" >47</td><td class="right " data-stat="losses" >35</td><td class="right " data-stat="win_loss_pct" >.573</td><td class="right " data-stat="gb" >18.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Denver Nuggets</a></th><td class="right " data-stat="wins" >46</td><td class="right " data-stat="losses" >36</td><td class="right " data-stat="win_loss_pct" >.561</td><td class="right " data-stat="gb" >19.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Los Angeles Clippers</a></th><td class="right " data-stat="wins" >42</td><td class="right " data-stat="losses" >40</td><td class="right " data-stat="win_loss_pct" >.512</td><td class="right " data-stat="gb" >23.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Los Angeles Lakers</a></th><td class="right " data-stat="wins" >35</td><td class="right " data-stat="losses" >47</td><td class="right " data-stat="win_loss_pct" >.427</td><td class="right " data-stat="gb" >30.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Sacramento Kings</a></th><td class="right " data-stat="wins" >27</td><td class="right " data-stat="losses" >55</td><td class="right " data-stat="win_loss_pct" >.329</td><td class="right " data-stat="gb" >38.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Dallas Mavericks</a></th><td class="right " data-stat="wins" >24</td><td class="right " data-stat="losses" >58</td><td class="right " data-stat="win_loss_pct" >.293</td><td class="right " data-stat="gb" >41.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Memphis Grizzlies</a></th><td class="right " data-stat="wins" >22</td><td class="right " data-stat="losses" >60</td><td class="right " data-stat="win_loss_pct" >.268</td><td class="right " data-stat="gb" >43.0</td></tr>
            <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Phoenix Suns</a></th><td class="right " data-stat="wins" >21</td><td class="right " data-stat="losses" >61</td><td class="right " data-stat="win_loss_pct" >.256</td><td class="right " data-stat="gb" >44.0</td></tr>

            </tbody></table>

                  </div>
               </div>
            </div>





        </style>

        <div id="all_" class="table_wrapper floated">

        <div class="section_heading">
          <span class="section_anchor" id="_link" data-label=""></span>
            <h2></h2>    <div class="section_heading_text">
              <ul>
              </ul>
            </div>
        </div>   <div class="table_outer_container">
              <div class="overthrow table_container" id="div_">
          <table class="suppress_all sortable stats_table" id="" data-cols-to-freeze=0><caption> Eastern Conference</caption>
           <colgroup><col><col><col><col><col></colgroup>
           <thead>
              <tr>
                 <th aria-label="Team" data-stat="team_name" scope="col" class=" poptip sort_default_asc left" >Team</th>
                 <th aria-label="Wins" data-stat="wins" scope="col" class=" poptip right" data-tip="Wins" >W</th>
                 <th aria-label="Losses" data-stat="losses" scope="col" class=" poptip right" data-tip="Losses" >L</th>
                 <th aria-label="Win-Loss Percentage" data-stat="win_loss_pct" scope="col" class=" poptip right" data-tip="Win-Loss Percentage" >W/L%</th>
                 <th aria-label="Games Behind" data-stat="gb" scope="col" class=" poptip sort_default_asc right" data-tip="Games Behind" >GB</th>
              </tr>

           </thead>
           <tbody>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Toronto Raptors</a></th><td class="right " data-stat="wins" >59</td><td class="right " data-stat="losses" >23</td><td class="right " data-stat="win_loss_pct" >.720</td><td class="right " data-stat="gb" >0.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Boston Celtics</a></th><td class="right " data-stat="wins" >55</td><td class="right " data-stat="losses" >27</td><td class="right " data-stat="win_loss_pct" >.671</td><td class="right " data-stat="gb" >4.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Philadelphia 76ers</a></th><td class="right " data-stat="wins" >52</td><td class="right " data-stat="losses" >30</td><td class="right " data-stat="win_loss_pct" >.634</td><td class="right " data-stat="gb" >7.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Cleveland Cavaliers</a></th><td class="right " data-stat="wins" >50</td><td class="right " data-stat="losses" >32</td><td class="right " data-stat="win_loss_pct" >.610</td><td class="right " data-stat="gb" >9.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Indiana Pacers</a></th><td class="right " data-stat="wins" >48</td><td class="right " data-stat="losses" >34</td><td class="right " data-stat="win_loss_pct" >.585</td><td class="right " data-stat="gb" >11.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Miami Heat</a></th><td class="right " data-stat="wins" >44</td><td class="right " data-stat="losses" >38</td><td class="right " data-stat="win_loss_pct" >.537</td><td class="right " data-stat="gb" >15.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Milwaukee Bucks</a></th><td class="right " data-stat="wins" >44</td><td class="right " data-stat="losses" >38</td><td class="right " data-stat="win_loss_pct" >.537</td><td class="right " data-stat="gb" >15.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Washington Wizards</a></th><td class="right " data-stat="wins" >43</td><td class="right " data-stat="losses" >39</td><td class="right " data-stat="win_loss_pct" >.524</td><td class="right " data-stat="gb" >16.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Detroit Pistons</a></th><td class="right " data-stat="wins" >39</td><td class="right " data-stat="losses" >43</td><td class="right " data-stat="win_loss_pct" >.476</td><td class="right " data-stat="gb" >20.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Charlotte Hornets</a></th><td class="right " data-stat="wins" >36</td><td class="right " data-stat="losses" >46</td><td class="right " data-stat="win_loss_pct" >.439</td><td class="right " data-stat="gb" >23.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">New York Knicks</a></th><td class="right " data-stat="wins" >29</td><td class="right " data-stat="losses" >53</td><td class="right " data-stat="win_loss_pct" >.354</td><td class="right " data-stat="gb" >30.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Brooklyn Nets</a></th><td class="right " data-stat="wins" >28</td><td class="right " data-stat="losses" >54</td><td class="right " data-stat="win_loss_pct" >.341</td><td class="right " data-stat="gb" >31.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Chicago Bulls</a></th><td class="right " data-stat="wins" >27</td><td class="right " data-stat="losses" >55</td><td class="right " data-stat="win_loss_pct" >.329</td><td class="right " data-stat="gb" >32.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Orlando Magic</a></th><td class="right " data-stat="wins" >25</td><td class="right " data-stat="losses" >57</td><td class="right " data-stat="win_loss_pct" >.305</td><td class="right " data-stat="gb" >34.0</td></tr>
        <tr class="full_table" ><th scope="row" class="left " data-stat="team_name" ><a href="">Atlanta Hawks</a></th><td class="right " data-stat="wins" >24</td><td class="right " data-stat="losses" >58</td><td class="right " data-stat="win_loss_pct" >.293</td><td class="right " data-stat="gb" >35.0</td></tr>

        </tbody></table>

              </div>
           </div>
        </div>
  </div>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
