<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <link rel="stylesheet" href="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/base.css">
	  <script type="text/javascript" async="" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/amzn_ads.js.download"></script>
	  <script type="text/javascript" async="" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/htw-wapo.js.download"></script>
	  <script type="text/javascript" async="" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/jstag"></script>
	  <script type="text/javascript" async="" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/gpt.js.download"></script>
	  <link rel="preload" href="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/integrator.js.download" as="script">
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/integrator.js.download"></script>
		<link rel="preload" href="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/integrator.js(1).download" as="script">
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/integrator.js(1).download"></script>
		<script src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/pubads_impl_195.js.download" async=""></script>
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/4cc3c1bef0.js.download"></script>			<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/7a5b554023.js.download"></script>
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/87811ab41e.js.download"></script>
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/b5411285f6.js.download"></script>
		<link type="text/css" rel="stylesheet" href="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/938c258067.css">
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/da39a3ee5e.js.download"></script>
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/wpPwapi1-min.js.download"></script>
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/c4d7fa1f35.js.download"></script>
		<script type="text/javascript" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/main.js.download"></script>
		<link rel="preconnect" href="https://securepubads.g.doubleclick.net/">
		<script async="" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/chartbeat.js.download"></script>
		<script async="" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/beacon.js.download"></script>
	  <style data-id="https://www.washingtonpost.com/pb/gr/c/javascript/rQb37z1BzCF9bp/twp-comments_css/65a4176fb3.css?_=d0c4c&amp;v=3.1" type="text/css> Post_files/chartbeat.js.download"></style>
    <script async="" src="./Ranking the Top 100 players for the 2017-18 NBA season - Washington Post_files/beacon.js.download"></script>
    <% include ./players_styles %>
</head>
<body class="container">

<header>
  <% include ../partials/mainNavbar %>
</header>

<!-- This is the second menu bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/nba">Home</a></li>
        <li class="active"><a href="#">Players</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/injuries">Injuries</a></li>
        <li><a href="/teams">Teams</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Teams/Players">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
    </div>
  </div>
</nav>

<% include ./players_contents %>
