<!-- views/pages/index.djs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/mainNavbar %>
</header>

<!-- This is the second menu bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/nba">Home</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/injuries">Injuries</a></li>
        <li class="active"><a href="#">Teams</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Teams/Players">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </form>
    </div>
  </div>
</nav>


<!--Charlotte Hornets-->
<div id="info" class="teams">


	  <div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/CHA.png" alt="Charlotte Hornets Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Charlotte Hornets</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Charlotte, North Carolina
</p>

<p>
  <strong>Team Names:</strong>
  Charlotte Bobcats, Charlotte Hornets
</p>
<br>
<p>
  <strong>Seasons:</strong>

    28;

  1988-89 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  988-1260, .440 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  10

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div><!-- div#meta -->





<div class="adblock ad300">

<div><a href="/my/?do=ad_free_browsing">Support us without the ads? Go Ad-Free.</a></div>
<!-- div#fs_fs_300_atf  -->
<div align="center" id="div-gpt-ad-300x250-ATF" data-refresh-counter="5" data-refresh-time="60" data-view-percentage="100"><div id="google_ads_iframe_/15184186/basketball-reference_300x250_320x50_ATF_0__container__" style="border: 0pt none; display: inline-block; width: 300px; height: 250px;"><iframe frameborder="0" src="https://tpc.googlesyndication.com/safeframe/1-0-23/html/container.html" id="google_ads_iframe_/15184186/basketball-reference_300x250_320x50_ATF_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="300" height="250" data-is-safeframe="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" style="border: 0px; vertical-align: bottom;"></iframe></div></div>
<!-- /div.#fs_fs_300_atf -->


</div>

</div>

<!--Atlanta Hawks-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/ATL.png" alt="Atlanta Hawks Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Atlanta Hawks</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Atlanta, Georgia
</p>

<p>
  <strong>Team Names:</strong>
  Atlanta Hawks, St. Louis Hawks, Milwaukee Hawks, Tri-Cities Blackhawks
</p>
<br>
<p>
  <strong>Seasons:</strong>

    69;

  1949-50 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2717-2753, .497 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  46

</p>

<p>
  <strong>Championships:</strong>
  1

</p>





</div>
</div>
  <!-- <h1 itemprop="name">
    <span>Atlanta Hawks</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Atlanta, Georgia
</p>

<p>
  <strong>Team Names:</strong>
  <! Atlanta Hawks, St. Louis Hawks, Milwaukee Hawks, Tri-Cities Blackhawks
</p>
<br>
<p>
  <strong>Seasons:</strong>

    69;

  1949-50 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2717-2753, .497 W-L%

</p>
<br>
<p> -->
  <!-- <strong>Playoff Appearances:</strong>
  46

</p>

<p>
  <strong>Championships:</strong>
  1

</p> -->

<!--  -->



<!-- </div>

<!Boston Celtics-->

<!-- <div id="meta"> -->



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/BOS.png" alt="Boston Celtics Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Boston Celtics</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Boston, Massachusetts
</p>

<p>
  <strong>Team Name:</strong>
  Boston Celtics
</p>
<br>
<p>
  <strong>Seasons:</strong>

    72;

  1946-47 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  3329-2313, .590 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  55

</p>

<p>
  <strong>Championships:</strong>
  17

</p>





</div>

<!--Brooklyn Nets-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/NJN.png" alt="Brooklyn Nets Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Brooklyn Nets</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Brooklyn, New York
</p>

<p>
  <strong>Team Names:</strong>
  Brooklyn Nets, New Jersey Nets, New York Nets, New Jersey Americans
</p>
<br>
<p>
  <strong>Seasons:</strong>

    51 (42 NBA &amp; 9 ABA);

  1967-68 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  1782-2358, .430 W-L%

    (1408-1988 NBA &amp; 374-370 ABA)

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  26

    (19 NBA &amp; 7 ABA)

</p>

<p>
  <strong>Championships:</strong>
  2

    (0 NBA &amp; 2 ABA)

</p>





</div>
</div>

<!--CHicago Bulls-->

<div id="meta">

<!--Dallas Mavericks-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/DAL.png" alt="Dallas Mavericks Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Dallas Mavericks</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Dallas, Texas
</p>

<p>
  <strong>Team Name:</strong>
  Dallas Mavericks
</p>
<br>
<p>
  <strong>Seasons:</strong>

    38;

  1980-81 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  1539-1529, .502 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  21

</p>

<p>
  <strong>Championships:</strong>
  1

</p>





</div>
</div>

<!--Denver Nuggets-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/DEN.png" alt="Denver Nuggets Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Denver Nuggets</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Denver, Colorado
</p>

<p>
  <strong>Team Names:</strong>
  Denver Nuggets, Denver Rockets
</p>
<br>
<p>
  <strong>Seasons:</strong>

    51 (42 NBA &amp; 9 ABA);

  1967-68 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2062-2078, .498 W-L%

    (1649-1747 NBA &amp; 413-331 ABA)

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  33

    (24 NBA &amp; 9 ABA)

</p>

<p>
  <strong>Championships:</strong>
  0

    (0 NBA &amp; 0 ABA)

</p>





</div>
</div>

<!--Detroit Pistons-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/DET.png" alt="Detroit Pistons Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Detroit Pistons</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Detroit, Michigan
</p>

<p>
  <strong>Team Names:</strong>
  Detroit Pistons, Fort Wayne Pistons
</p>
<br>
<p>
  <strong>Seasons:</strong>

    70;

  1948-49 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2692-2840, .487 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  41

</p>

<p>
  <strong>Championships:</strong>
  3

</p>





</div>
</div>

<!--Golden State Warriors-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/GSW.png" alt="Golden State Warriors Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Golden State Warriors</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Oakland, California
</p>

<p>
  <strong>Team Names:</strong>
  Golden State Warriors, San Francisco Warriors, Philadelphia Warriors
</p>
<br>
<p>
  <strong>Seasons:</strong>

    72;

  1946-47 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2715-2923, .482 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  34

</p>

<p>
  <strong>Championships:</strong>
  5

</p>





</div>
</div>

<!--Houston Rockets-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/HOU.png" alt="Houston Rockets Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Houston Rockets</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Houston, Texas
</p>

<p>
  <strong>Team Names:</strong>
  Houston Rockets, San Diego Rockets
</p>
<br>
<p>
  <strong>Seasons:</strong>

    51;

  1967-68 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2172-1962, .525 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  32

</p>

<p>
  <strong>Championships:</strong>
  2

</p>





</div>
</div>

<!--Indiana Pacers-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/IND.png" alt="Indiana Pacers Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Indiana Pacers</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Indianapolis, Indiana
</p>

<p>
  <strong>Team Name:</strong>
  Indiana Pacers
</p>
<br>
<p>
  <strong>Seasons:</strong>

    51 (42 NBA &amp; 9 ABA);

  1967-68 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2123-2016, .513 W-L%

    (1696-1699 NBA &amp; 427-317 ABA)

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  34

    (25 NBA &amp; 9 ABA)

</p>

<p>
  <strong>Championships:</strong>
  3

    (0 NBA &amp; 3 ABA)

</p>





</div>
</div>

<!--LA Clippers-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/LAC.png" alt="Los Angeles Clippers Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Los Angeles Clippers</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Los Angeles, California
</p>

<p>
  <strong>Team Names:</strong>
  Los Angeles Clippers, San Diego Clippers, Buffalo Braves
</p>
<br>
<p>
  <strong>Seasons:</strong>

    48;

  1970-71 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  1562-2326, .402 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  13

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--LA Lakers-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/LAL.png" alt="Los Angeles Lakers Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Los Angeles Lakers</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Los Angeles, California
</p>

<p>
  <strong>Team Names:</strong>
  Los Angeles Lakers, Minneapolis Lakers
</p>
<br>
<p>
  <strong>Seasons:</strong>

    70;

  1948-49 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  3296-2237, .596 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  60

</p>

<p>
  <strong>Championships:</strong>
  16

</p>





</div>
</div>

<!--Memphis Grizzlies-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/MEM.png" alt="Memphis Grizzlies Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Memphis Grizzlies</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Memphis, Tennessee
</p>

<p>
  <strong>Team Names:</strong>
  Memphis Grizzlies, Vancouver Grizzlies
</p>
<br>
<p>
  <strong>Seasons:</strong>

    23;

  1995-96 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  759-1079, .413 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  10

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--Miami Heat-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/MIA.png" alt="Miami Heat Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Miami Heat</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Miami, Florida
</p>

<p>
  <strong>Team Name:</strong>
  Miami Heat
</p>
<br>
<p>
  <strong>Seasons:</strong>

    30;

  1988-89 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  1255-1157, .520 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  20

</p>

<p>
  <strong>Championships:</strong>
  3

</p>





</div>
</div>

<!--Milwaukee Bucks-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/MIL.png" alt="Milwaukee Bucks Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Milwaukee Bucks</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Milwaukee, Wisconsin
</p>

<p>
  <strong>Team Name:</strong>
  Milwaukee Bucks
</p>
<br>
<p>
  <strong>Seasons:</strong>

    50;

  1968-69 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2069-1983, .511 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  30

</p>

<p>
  <strong>Championships:</strong>
  1

</p>





</div>
</div>

<!--Minnesota Timberwolves-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/MIN.png" alt="Minnesota Timberwolves Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Minnesota Timberwolves</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Minneapolis, Minnesota
</p>

<p>
  <strong>Team Name:</strong>
  Minnesota Timberwolves
</p>
<br>
<p>
  <strong>Seasons:</strong>

    29;

  1989-90 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  925-1405, .397 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  9

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--New Orleans Pelicans-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/NOH.png" alt="New Orleans Pelicans Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>New Orleans Pelicans</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  New Orleans, Louisiana
</p>

<p>
  <strong>Team Names:</strong>
  New Orleans Pelicans, New Orleans/Oklahoma City Hornets, New Orleans Hornets
</p>
<br>
<p>
  <strong>Seasons:</strong>

    16;

  2002-03 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  610-686, .471 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  7

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--New York Knicks-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/NYK.png" alt="New York Knicks Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>New York Knicks</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  New York, New York
</p>

<p>
  <strong>Team Name:</strong>
  New York Knicks
</p>
<br>
<p>
  <strong>Seasons:</strong>

    72;

  1946-47 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2761-2878, .490 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  42

</p>

<p>
  <strong>Championships:</strong>
  2

</p>





</div>
</div>

<!--Oklahoma City Thunder-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/OKC.png" alt="Oklahoma City Thunder Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Oklahoma City Thunder</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Oklahoma City, Oklahoma
</p>

<p>
  <strong>Team Names:</strong>
  Oklahoma City Thunder, Seattle SuperSonics
</p>
<br>
<p>
  <strong>Seasons:</strong>

    51;

  1967-68 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2234-1900, .540 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  30

</p>

<p>
  <strong>Championships:</strong>
  1

</p>





</div>
</div>

<!--Orlando Magic-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/ORL.png" alt="Orlando Magic Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Orlando Magic</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Orlando, Florida
</p>

<p>
  <strong>Team Name:</strong>
  Orlando Magic
</p>
<br>
<p>
  <strong>Seasons:</strong>

    29;

  1989-90 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  1116-1214, .479 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  14

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--Philadelphia 76ers-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/PHI.png" alt="Philadelphia 76ers Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Philadelphia 76ers</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Philadelphia, Pennsylvania
</p>

<p>
  <strong>Team Names:</strong>
  Philadelphia 76ers, Syracuse Nationals
</p>
<br>
<p>
  <strong>Seasons:</strong>

    69;

  1949-50 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2806-2662, .513 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  48

</p>

<p>
  <strong>Championships:</strong>
  3

</p>





</div>
</div>

<!--Phoenix Suns-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/PHO.png" alt="Phoenix Suns Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Phoenix Suns</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Phoenix, Arizona
</p>

<p>
  <strong>Team Name:</strong>
  Phoenix Suns
</p>
<br>
<p>
  <strong>Seasons:</strong>

    50;

  1968-69 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2167-1885, .535 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  29

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--Portland Trail Blazers-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/POR.png" alt="Portland Trail Blazers Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Portland Trail Blazers</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Portland, Oregon
</p>

<p>
  <strong>Team Name:</strong>
  Portland Trail Blazers
</p>
<br>
<p>
  <strong>Seasons:</strong>

    48;

  1970-71 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2081-1807, .535 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  34

</p>

<p>
  <strong>Championships:</strong>
  1

</p>





</div>
</div>

<!--Sacremento Kings-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/SAC.png" alt="Sacramento Kings Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Sacramento Kings</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Sacramento, California
</p>

<p>
  <strong>Team Names:</strong>
  Sacramento Kings, Kansas City Kings, Kansas City-Omaha Kings, Cincinnati Royals, Rochester Royals
</p>
<br>
<p>
  <strong>Seasons:</strong>

    70;

  1948-49 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2523-3010, .456 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  29

</p>

<p>
  <strong>Championships:</strong>
  1

</p>





</div>
</div>

<!--San Antonio Spurs-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/SAS.png" alt="San Antonio Spurs Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>San Antonio Spurs</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  San Antonio, Texas
</p>

<p>
  <strong>Team Names:</strong>
  San Antonio Spurs, Texas Chaparrals, Dallas Chaparrals
</p>
<br>
<p>
  <strong>Seasons:</strong>

    51 (42 NBA &amp; 9 ABA);

  1967-68 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2492-1648, .602 W-L%

    (2114-1282 NBA &amp; 378-366 ABA)

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  46

    (38 NBA &amp; 8 ABA)

</p>

<p>
  <strong>Championships:</strong>
  5

    (5 NBA &amp; 0 ABA)

</p>





</div>
</div>

<!--Toronto Raptors-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/TOR.png" alt="Toronto Raptors Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Toronto Raptors</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Toronto, Canada
</p>

<p>
  <strong>Team Name:</strong>
  Toronto Raptors
</p>
<br>
<p>
  <strong>Seasons:</strong>

    23;

  1995-96 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  844-994, .459 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  10

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--Utah Jazz-->

<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/UTA.png" alt="Utah Jazz Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Utah Jazz</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Salt Lake City, Utah
</p>

<p>
  <strong>Team Names:</strong>
  Utah Jazz, New Orleans Jazz
</p>
<br>
<p>
  <strong>Seasons:</strong>

    44;

  1974-75 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  1914-1646, .538 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  27

</p>

<p>
  <strong>Championships:</strong>
  0

</p>





</div>
</div>

<!--Washington Wizards-->
<div id="meta">



<div class="media-item logo">
	<img class="teamlogo" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/201804051/tlogo/bbr/WAS.png" alt="Washington Wizards Franchise Logo">
	<p><a href="http://www.sportslogos.net/">via Sports Logos.net</a></p>
	<p><a href="https://www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></p>
</div>


<div>
  <h1 itemprop="name">
    <span>Washington Wizards</span>
        <span class="header_end"></span>
  </h1>
<p>
  <strong>Location:</strong>
  Washington, District of Columbia
</p>

<p>
  <strong>Team Names:</strong>
  Washington Wizards, Washington Bullets, Capital Bullets, Baltimore Bullets, Chicago Zephyrs, Chicago Packers
</p>
<br>
<p>
  <strong>Seasons:</strong>

    57;

  1961-62 to 2017-18
</p>

<p>
  <strong>Record:</strong>
  2096-2519, .454 W-L%

</p>
<br>
<p>
  <strong>Playoff Appearances:</strong>
  29

</p>

<p>
  <strong>Championships:</strong>
  1

</p>





</div>
</div>
